@page
@model AccessDeniedModel


<header>
    <div class="position-relative text-center">
        <!-- Responsive image with controlled max-width and reduced size -->
        <img src="~/img/403 Error Forbidden-bro.png" alt="403 Error" class="img-fluid rounded-circle" style="max-width: 50%; height: auto;">
    </div>
</header>
