/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.no-hover {
    text-decoration: none; /* Remove underline */
}

    .no-hover:hover {
        text-decoration: none; /* Ensure no hover underline */
        color: white; /* Prevent color change */
        cursor: default; /* Prevent pointer cursor if needed */
    }

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

    #spinner.show {
        transition: opacity .5s ease-out, visibility 0s linear 0s;
        visibility: visible;
        opacity: 1;
    }


/*** Button ***/
.btn {
    transition: .5s;
}

    .btn.btn-primary {
        color: #FFFFFF;
    }

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.btn-no-shadow{
    box-shadow: none !important;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

        .sidebar.open {
            margin-left: -250px;
        }

    .content {
        width: calc(100% - 250px);
    }

        .content.open {
            width: 100%;
            margin-left: 0;
        }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

        .sidebar.open {
            margin-left: 0;
        }

    .content {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 767px){
    .mt-20{
        margin-top: 20px;
    }
}

/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

    .sidebar .navbar .navbar-nav .nav-link:hover,
    .sidebar .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
        background: #FFFFFF;
        border-color: var(--primary);
    }

    .sidebar .navbar .navbar-nav .nav-link i {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 40px;
    }

    .sidebar .navbar .navbar-nav .nav-link:hover i,
    .sidebar .navbar .navbar-nav .nav-link.active i {
        background: var(--light);
    }

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

    .content .navbar .navbar-nav .nav-link:hover,
    .content .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
    }

    .content .navbar .sidebar-toggler,
    .content .navbar .navbar-nav .nav-link i {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 40px;
    }

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}

/*datatable css*/

.dt-left {
    text-align: left !important;
}
/* Style for the pagination container */
.dt-container .dt-paging {
    padding: 10px;
}

/* Style for all pagination buttons */
.dt-container .dt-paging .dt-paging-button {
    background-color: #f3f6f9 !important; /* Background color */
    color: #009cff !important; /* Text color */
    border-radius: 4px; /* Rounded corners */
    padding: 6px 12px; /* Padding for the buttons */
    margin: 0 2px; /* Space between buttons */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

div.dt-container .dt-paging .dt-paging-button {
    border-radius: 50%;
}

div.dt-container .dt-paging .dt-paging-button.disabled, div.dt-container .dt-paging .dt-paging-button.disabled:hover, div.dt-container .dt-paging .dt-paging-button.disabled:active {
    cursor: not-allowed;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #f3f6f9 !important;
}

div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover {
    background-color: #009cff !important; /* Background color on hover */
    color: #fff !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/*modal css*/
.modal-content {
    border-radius: 8px;
}

.modal-body i.fas.fa-exclamation-circle {
    color: #f0ad4e; /* Warning color */
    font-size: 50px;
}

/* Custom class for horizontal scrollbar */
.scrollable-table {
    overflow-x: auto; /* Enables horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
    max-width: 100%; /* Ensures the table does not exceed the container width */
}

    .scrollable-table::-webkit-scrollbar {
        height: 8px; /* Custom height for the scrollbar */
    }

    .scrollable-table::-webkit-scrollbar-thumb {
        background-color: #009cff; /* Color of the scrollbar handle */
        border-radius: 4px; /* Round the edges of the scrollbar handle */
        border: 2px solid #fff; /* Creates a border around the handle */
    }

        .scrollable-table::-webkit-scrollbar-thumb:hover {
            background-color: #006f99; /* Darker color when hovering over the scrollbar */
        }

    .scrollable-table::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Background color of the scrollbar track */
        border-radius: 4px; /* Rounded corners for the track */
    }

    /* Optional: Adding shadow effect to the table */
    .scrollable-table table {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }


